course.wuhao.dev {
    encode gzip
    root * /opt/deploy/static/course
    file_server
    try_files {path} /index.html
    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options "nosniff"
    }
}
